h1 {
  font-size: 2.777em;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  margin-top: -5px;
}
h3 {
  font-weight: lighter;
  font-size: 18px;
}
#h2-1 {
  font-weight: bold;
  font-size: 1.12em;
}
img {
  width: 180px;
  margin-left: 145%;
}
#first {
  padding-top: 40px;
  padding-left: 400px;
}
hr {
  width: 50%;
  border: none;
  height: 0.5px;
  background-color: black;
}
table {
  padding-left: 400px;
}
p {
  margin-top: -15px;
  text-align: justify;
  font-size: 1em;
}
#ul1 {
  margin-top: -15px;
}
li {
  padding: 2px;
}
#a1 {
  padding-left: 6px;
  target: _blank;
}
i {
  margin-top: 3%;
}
